
.DS_Store
__pycache__/
/backend/__pycache__/
/backend/venv/
venv/
/test.py
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/package-lock.json

# testing
/frontend/coverage

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
test.py
backend/site.db
