<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Database - HelloFlask{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='unicon.ico') }}">
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
    {% endblock %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>

    <main>
        {% for message in get_flashed_messages() %}
        <div class="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
<footer>
    {% block footer %}
    <small> &copy; 2021 <a href="UNISOFT" title="Written by unisoft">unisoft</a> /
                <a href="https://github.com/LOOP115/IT_Project" title="Fork me on GitHub">GitHub</a> /
            </small>
    {% endblock %}
</footer>
{% block scripts %}{% endblock %}
</body>
</html>
